/****** Posts Container content begin*********/

.container {
  width: 96vw;
  /* background-color: red; */
  margin-left: 15px;
}
.main-posts {
  width: 33vw;
  background-color: lightgray;
  overflow: hidden;
}

.post-description {
  width: 68vw;
  /* background-color: red; */
}

.posts-list-title {
  font-size: 2rem;
  font-weight: 500;
}

.posts-list-scrollable {
  height: 86vh;
  overflow: auto;
}

/****** Posts Container   content end*********/

.post-ppal {
  width: 29vw;
  border-radius: 3px;
  border: solid 1px black;
}

/****** Shared properties begin*********/

.banner,
.post-details,
.footer,
.container {
  display: flex;
}

.margin-left {
  margin-left: 10px;
}
.margin-top {
  margin-top: 5px;
}
.margin-bottom {
  margin-bottom: 5px;
}

/****** Shared properties end*********/

/****** post Header content begin*********/

.banner {
  flex: auto;
}

.post-status {
  border-radius: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: blue;
  margin: 12px 20px 10px 15px;
}

.status-read {
  visibility: hidden;
}

.post-title {
  font-size: 1.4rem;
}

.post-hours {
  margin-left: auto;
  margin-right: 15px;
  font-size: 1.2rem;
}
/****** post Header content end*********/

/****** post details content begin*********/

.post-details {
  align-items: center;
}

.post-image {
  width: 120px;
  height: 90px;
}

.img-not-found.img-not-found {
  width: 120px;
  height: 90px;
}

.post-text {
  display: block;
  display: -webkit-box;
  max-height: 50px;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
  text-align: justify;
  justify-content: center;
}
/****** post details content end*********/

/****** post footer content begin*********/

.footer {
  align-items: center;
  flex: auto;
  margin-bottom: 10px;
}

.post-action-pack {
  display: flex;
  align-items: center;
}

.post-action-text {
  font-size: 1.2rem;
  color: #f44336;
  cursor: default;
}

.post-comments {
  margin-left: auto;
  margin-right: 15px;
  font-size: 1.2rem;
}

.action-dismiss {
  color: #f44336;
}
/****** post footer content begin*********/

/****** post description begin*********/
.post-desc-centered {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  width: 95%;
}

.post-desc-image {
  width: 30vw;
  height: 50vh;
}
/****** post description begin*********/

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.pagination > li {
  list-style-type: none;
  background: #fafafa;
  padding: 8px;
  border: solid 1px black;
}

.pagination > li.page-current {
  background-color: lightblue;
}

.dismiss-all {
  display: flex;
  justify-content: center;
  border: 1px solid #f44336;
  width: 29vw;
}

.dismiss-all-text {
  color: #f44336;
  cursor: default;
}

@media only screen and (max-width: 850px) {
  body {
    background-color: lightblue;
  }

  .banner {
    display: block;
  }

  .post-ppal {
    width: 27vw;
  }
  .post-details {
    flex-direction: column;
  }

  .post-title {
    font-size: 1.1rem;
    font-weight: 700;
  }

  .post-status {
    height: 12px;
    background-color: blue;
    margin: 5px 15px 2px 15px;
  }

  .post-hours {
    margin: 5px 0 5px 15px;
    font-size: 1.1rem;
  }

  .footer {
    display: block;
  }
  .post-action-text {
    /* display: inline-block; */
    font-size: 1rem;
    vertical-align: middle;
    
  }

  .post-comments {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .dismiss-all {
    width: 27vw;
  }
}


.removed-item {
  animation: removed-item-animation .8s cubic-bezier(.65,-0.02,.72,.29);
}

@keyframes removed-item-animation {
 0% {
      opacity: 1;
      transform: translateX(0);
  }

  30% {
      opacity: 1;
      transform: translateX(50px);
  }

  80% {
      opacity: 1;
      transform: translateX(-800px);
  }

  100% {
      opacity: 0;
      transform: translateX(-800px);
  }
}