

/****** Posts Container content begin*********/

.container {
  width: 98%;
  /* background-color: red; */
  margin-left: 15px;
  
}
.main-posts {
  width: 32%;
  background-color: lightgray;
}

.posts-list-title{
  font-size: 2rem;
  font-weight: 500;
}

/****** Posts Container   content end*********/




.post-ppal{
  width: 95%;
  border-radius: 3px;
  border: solid 1px black;
}


/****** Shared properties begin*********/

.banner, .post-details, .footer, .container {
  display: flex;
}



.margin-left {
  margin-left: 15px;
}
.margin-top {
  margin-top: 5px;
}
.margin-bottom {
  margin-bottom: 5px;
}

/****** Shared properties end*********/



/****** post Header content begin*********/

.banner{
  flex: auto;
}

.post-status{
  border-radius: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: blue;
  margin: 12px 20px 10px 15px;
}

.post-title{
  font-size: 1.4rem;
 
}

.post-hours {
  margin-left: auto;
  margin-right: 15px;
  font-size: 1.2rem;
}
/****** post Header content end*********/


/****** post details content begin*********/

.post-details {
  align-items: center;
}

.post-image{
  width: 120px;
  height: 90px;
}

.img-not-found.img-not-found{
  width: 120px;
  height: 90px;
}

.post-text {

  display: block;
  display: -webkit-box;
  max-height: 50px;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
  text-align: justify;
  justify-content: center;
}
/****** post details content end*********/



/****** post footer content begin*********/

.footer{
  align-items: center;
  flex:auto;
  margin-bottom: 10px;
}


.footer > span.post-action-text {
  font-size: 1.2rem;
}

.post-comments{
  margin-left: auto;
  margin-right: 15px;
  font-size: 1.2rem;
}

.action-dismiss {
  color: red;
}
/****** post footer content begin*********/



